
    {% block robots_meta %}
    <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    {% endblock robots_meta %}
    <meta name="description" content="{{ config.description }}">
    <link rel="canonical" href="{{ config.base_url | safe }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:url" content="{{ config.base_url | safe }}">
    <meta property="og:image" content="">
    <meta property="article:publisher" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ config.title }}">
    <meta name="twitter:description" content="{{ config.description }}">
    <meta name="twitter:url" content="{{ config.base_url | safe }}">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
